---
import Layout from "../layouts/Layout.astro";
import Card from "../components/card.astro";
import arrowRightIcon from "lucide-static/icons/arrow-right.svg";
---

<Layout title="Submit Your Extension">
    <main>
        <div class="cta-text">
            <h1>Submitting your browser extension</h1>
        </div>
    </main>
    <div class="info">
        <ul role="list" class="link-card-grid">
            <Card
                title="1. Fork the Repository"
                link="https://github.com/hackclub/browserbuddy/fork"
                description="Visit our GitHub respository and click the <b>Fork</b> button in the top-right corner to create your own copy."
                image="/screenshots/fork-repo.png"
                height="350px"
            />
            <Card
                title="2. Add Your Extension"
                description="In your forked repository, open the <b>submissions</b> folder and add your extension."
                image="/screenshots/add-file.png"
                height="350px"
            />
            <Card
                title="3. Create a Pull Request"
                description="Create a new pull request from your fork to the main repository. We'll review and merge your submission once approved."
                image="/screenshots/fork-contribute.png"
                height="350px"
            />
            <Card
                title="4. Get your grant"
                icon2={`<img src="${arrowRightIcon.src}" alt="" />`}
                description="Once your Pull Request has been approved and merged, click this card to fill out the submission form. You'll receive a grant of $30 to get a Chrome Web Store license and launch your extension."
                image="/screenshots/submitted.png"
                link="https://airtable.com/appgtKZwZBoOeFU7O/pagyeS51zr2kC1rp0/form"
                height="350px"
            />
        </ul>
    </div>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 75vw;
    }

    .cta-text h1 {
		font-size: 4rem;
		color: white;
		padding: 0.2rem 1.5rem;
		transform: rotate(5deg);
		margin: 0 0 2rem 0;
		background-color: #ec3750;
		z-index: 2;
		display: inline;
        width: 80%;
	}

   .cta-text {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4em 0;
    }

    .cta-text h2 {
        font-size: 3rem;
        color: white;
        padding: 0.2rem 1.5rem;
        transform: rotate(-4deg);
        margin: 0;
        background-color: var(--hc-green);
        z-index: 1;
    }

    .cta-text h3 {
        font-size: 1.5rem;
        color: white;
        padding: 0.5rem 1.6rem;
        /* transform: rotate(3deg); */
        margin: 0;
        background-color: var(--hc-purple);
        z-index: 1;
    }

    main div.cta-text:last-child {
        transform: rotate(-3deg);
    }

    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
        padding: 1em;
    }

    .info {
        margin: 3em 0;
    }

    @media screen and (max-width: 500px) {
        main {
            height: 20vh;
            margin: 0;
            width: 100%;
        }

        .cta-text {
            width: 100%;
        }

        .cta-text h2 {
            font-size: 1.6rem;
            width: 100%;
        }

        .link-card-grid {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

        .info {
            width: 100%;
        }
    }
</style>
