@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=DynaPuff:wght@400..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: Arial, sans-serif;
    width: 100%;
    height:100%;
    margin: 0;
    background-color: rgb(172, 193, 250);
  }

  h1 {
    font-size: 40px;
    font-family: "DynaPuff", "DM Serif Text", "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, serif;
    color:navy;
    padding-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #newtab-app{
    background-color: lightgrey;
    margin-left:25%;
    margin-right: 25%;
    border-radius: 5%;
    padding-bottom: 3%;
    padding-left: 1%;
    padding-right: 1%
  }
  h2{
    font-size: 25px;
    font-family: "Sour Gummy", Arial;
  }

  p{
    font-size: 15px;
    font-family: "Sour Gummy", Arial;
  }

  #buttons{
    display: flex;
    justify-content: center;
  }

  #reload-button{
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    margin: 0;
    margin-right: 1%;
    padding: 10px 16px;
  }

  #default-words{
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    margin: 0;
    margin-right: 1%;
    padding: 10px 16px;
  }

footer{
    position:relative;
    padding: 0;  
    margin:0;
    margin-top: 10px;
    /* background-color: navy; */
    bottom: 0;
    color:white;
}
  
