#settings-tab {
  flex-direction: column;
  align-items: center;
}

#prefs-container {
  height: calc(100vh - var(--tab-height));
  width: min(100vh, 50rem);
  display: flex;
  padding: 0.5rem;
  gap: 1rem;
  align-items: stretch;
}

#prefs-sections-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    width: 8rem;
    background-color: var(--background-2);
    padding: 0.5rem;
    text-align: center;
  }
}

#prefs-contents-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .prefs-title-bar {
    display: flex;
    align-items: center;

    span {
      font-size: 1.2rem;
    }
    button {
      font-size: 0.8rem;
    }
  }

  .prefs-contents {
    display: flex;
    flex-grow: 1;
  }
}

#prefs-printer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0.5rem;
  padding-top: 0px;
  gap: 0.5rem;
}

#prefs-printer-contents {
  font-size: 0.9rem;
  flex-grow: 1;

  #prefs-printers-list {
    display: flex;
    border: 1px solid var(--grey-2);
    padding: 0.25rem;
    height: 100%;

    div {
      padding: 0.25rem;
      width: 12rem;
    }
  }
}
