.settings-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding-left: 0.5rem;
}

.setting {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .setting-bar {
    width: 100%;
    display: flex;

    justify-content: space-between;
    align-items: center;

    font-size: 0.8rem;

    .setting-value {
      height: 1.6rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      max-width: calc(0.33 * var(--sidebar-width));
      min-width: calc(0.33 * var(--sidebar-width));

      background-color: var(--grey-2);
      border-bottom: 1px solid var(--grey);

      input {
        flex-grow: 1;
        min-width: 0;
        background-color: transparent;
        border-bottom: none;
        outline-width: 0px;
      }

      input[type="checkbox"] {
        flex-grow: 0;
        transform: scale(1.3);
        filter: grayscale(100%);
      }

      select {
        height: 100%;
        width: 100%;
        border: none;
        border-radius: 0px;
        flex-grow: 1;
        font-size: inherit;
        font-family: inherit;
        overflow: hidden;
        white-space: pre;
        text-overflow: ellipsis;
        background-color: var(--grey-2);
      }

      .unit-text {
        margin-right: 0.3rem;
        user-select: none;
        white-space: nowrap;
      }
    }

    .setting-value:focus-within {
      box-shadow: inset 0px 0px 0px 1px var(--grey);
    }
    .setting-value[data-type="bool"] {
      background-color: initial;
      border-bottom: none;
    }
    .setting-value[data-type="bool"]:focus-within {
      box-shadow: none;
    }
  }

  &.indented {
    padding-left: 0.5rem;
  }
}

.setting[data-is_enabled="false"] {
  display: none;
}
.setting[data-should_show="false"] {
  display: none;
}

.setting-value {
  height: 1.6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: calc(0.33 * var(--sidebar-width));
  min-width: calc(0.33 * var(--sidebar-width));

  background-color: var(--grey-2);
  border-bottom: 1px solid var(--grey);
  font-size: 0.8rem;

  input {
    flex-grow: 1;
    min-width: 0;
    background-color: transparent;
    border-bottom: none;
    outline-width: 0px;
  }

  input[type="checkbox"] {
    flex-grow: 0;
    transform: scale(1.3);
    filter: grayscale(100%);
  }

  select {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 0px;
    flex-grow: 1;
    font-size: inherit;
    font-family: inherit;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    background-color: var(--grey-2);
  }

  .unit-text {
    margin-right: 0.3rem;
    user-select: none;
    white-space: nowrap;
  }
}

.setting-value:focus-within {
  box-shadow: inset 0px 0px 0px 1px var(--grey);
}
.setting-value[data-type="bool"] {
  background-color: initial;
  border-bottom: none;
}
.setting-value[data-type="bool"]:focus-within {
  box-shadow: none;
}
