---
import Layout from "../layouts/Layout.astro";
---

<Layout title="BrowserBuddy - Build your own Browser extension">
	<main>
		<div class="cta-item-container hammer">
			<img class="cta-icons" id="hammer" src="/hammer.png" alt="" />
		</div>
		<div class="cta-text">
			<h1>BrowserBuddy</h1>
			<h2>Develop a browser extension</h2>
			<h2>Ship it to the Chrome Web Store</h2>
		</div>
		<div class="cta-item-container cursor">
			<img
				class="cta-icons"
				src="https://media3.giphy.com/media/J5dm29T4xgwyEnUYYc/giphy.webp"
				alt="cursor-click"
			/>
		</div>

		<form>
			<input type="email" placeholder="josias@hackclub.com" />
			<button type="submit">Let's go!</button>
		</form>
	</main>

	<div class="info">
		<h2>How does it work?</h2>
		<ol>
			<li>Brainstorm on your idea</li>
			<li>Develop your extension</li>
			<li>Publish the source code of your extension on GitHub</li>
			<li>Iterate & Submit your work for review</li>
			<li>Publish your extension on the Chrome Web Store</li>
		</ol>

		<h2>Requirements</h2>
		<ul>
			<li>
				The extension must be unique and solve a problem or do something
				reasonably useful.
			</li>
			<li>The extension must have been tested by at least 10 users.</li>
			<li>The source code of your extension must be open-source.</li>
			<li>
				The extension must work properly in both Chrome-based browsers
				and Firefox.
			</li>
		</ul>

		<h2>Frequently Asked Questions</h2>
		<ul class="faq">
			<li>
				The extension must be unique and solve a problem or do something
				reasonably useful.
			</li>
			<li>The extension must have been tested by at least 10 users.</li>
			<li>The source code of your extension must be open-source.</li>
			<li>
				The extension must work properly in both Chrome-based browsers
				and Firefox.
			</li>
		</ul>
	</div>
</Layout>

<script>
	const form = document.getElementsByTagName("form")[0];
	form.addEventListener("submit", (e) => e.preventDefault());
</script>

<style>
	main {
		margin: auto;
		padding: 0.5rem;
		width: 60%;
		max-width: calc(100% - 2rem);
		height: 100vh;
		font-size: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	.cta-text {
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.cta-text h2 {
		font-size: 4rem;
		color: white;
		padding: 0.2rem 1.5rem;
		transform: rotate(-4deg);
		margin: 0;
		background-color: #33d6a6;
		z-index: 1;
	}

	main div.cta-text:last-child {
		transform: rotate(-3deg);
	}

	main h1 {
		font-size: 6rem;
		/* font-family: "Tiny5", sans-serif; */
		/* font-family: "DepartureMono", sans-serif; */
		/* color: #ff8000; */
		color: white;
		padding: 0.2rem 1.5rem;
		transform: rotate(5deg);
		margin: 0 0 2rem 0;
		background-color: #ec3750;
		z-index: 2;
	}

	main .cta-item-container {
		position: relative;
		display: flex;
		/* justify-content: space-between; */
		width: 100%;
	}

	.hammer {
		top: 10%;
		justify-content: flex-start;
		align-items: flex-start;
	}

	#hammer {
		animation-name: hammer-hit;
		animation-timing-function: ease-in-out;
		animation-duration: 0.8s;
		animation-delay: 0.5s;
		animation-iteration-count: infinite;
		animation-direction: forwards;
	}

	@keyframes hammer-hit {
		0% {
			transform: rotate(0deg);
		}

		25% {
			transform: rotate(-20deg);
		}

		50% {
			transform: rotate(0deg);
		}

		75% {
			transform: rotate(20deg);
		}
		
		100% {
			transform: rotate(0deg);
		}
	}

	.cursor {
		top: -18%;
		right: 5%;
		justify-content: flex-end;
		align-items: flex-end;
		z-index: 2;
	}

	main div .browsers {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	main form {
		width: 100%;
		max-width: 800px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	main form * {
		margin: 0.5rem;
	}

	main form input,
	main form button {
		padding: 1rem;
		font-size: 1.2rem;
	}

	main form input {
		font-weight: bold;
		background: transparent;
		border-radius: 0.5rem;
		border: 3px solid var(--hc-red);
		width: 70%;
		font-size: 1;
	}

	main form button {
		width: 30%;
	}

	main form button:focus {
		transform: scale(0.5);
	}

	main .cta-icons {
		width: 15%;
	}

	input:focus {
		outline: none;
	}

	button {
		color: white;
		border-radius: 0.5rem;
		border: 2px solid var(--hc-red);
		font-size: 1;
		background-color: var(--hc-red);
		font-weight: bold;
	}

	.cta {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.info {
		width: 100%;
		font-size: 1.6rem;
		/* display: flex;
		flex-direction: column;
		justify-content: flex-start;
		*/
	}

	.faq {
		list-style-type: "? - ";
	}
</style>
