---
import Layout from "../layouts/Layout.astro";
---

<Layout title="WebForge - Build your own Browser extension">
	<main>
		<div class="cta">
			<div class="browsers">
				<img
					src="/browsers/firefox_icon.png"
					alt="firefox logo"
					width="150"
					height="150"
				/>
				<img
					src="/browsers/edge_icon.png"
					alt="edge logo"
					width="150"
					height="150"
				/>
				<img
					src="/browsers/chrome_icon.png"
					alt="chrome logo"
					width="150"
					height="150"
				/>
				<!-- <a href="https://www.flaticon.com/free-icons/extension" title="extension icons">Extension icons created by Karacis - Flaticon</a> -->
				<img
					src="/extension.png"
					alt="extension"
					width="150"
					height="150"
				/>
			</div>
			<div>
				<h1>WebForge</h1>
				<h2>Develop a browser extension, <br> Get a grant to ship it to the Chrome Web Store</h2>
			</div>
		</div>
		<div>
		  <p>

		  </p>
		</div>
		<form>
			<input type="text" placeholder="josias@hackclub.com" name="email" />
			<button type="submit">Sign Up For The Grant</button>
		</form>
	</main>

	<div>
	   <h2>How does it work?</h2>
		<ol>
		<li>Brainstorm on your idea</li>
		<li>Develop your extension</li>
		<li>Publish the source code of your extension on GitHub</li>
		<li>Iterate & Submit your work for review</li>
		<li>Publish your extension on the Chrome Web Store</li>
		</ol>

		<h3>Requirements</h3>
		<ul>
		  <ul>The extension must be unique and solve a problem or do something reasonably useful.</ul>
		  <li>The extension must have been tested by at least 10 users.</li>
		  <li>The source code of your extension must be open-source.</li>
		  <li>The extension must work properly in both Chrome-based browsers and Firefox.</li>
		</ul>
	</div>

	<footer>

	</footer>
</Layout>

<script>
  const form = document.getElementsByTagName("form")[0];
  form.addEventListener("submit", (e) => e.preventDefault());
</script>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		height: 100vh;
		font-size: 20px;
		line-height: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	main h1 {
		font-size: 6rem;
		font-family: "Tiny5", sans-serif;
		color: #ff8000;
	}

	main div {
		line-height: 3rem;
	}

	main div .browsers {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	main form {
	    width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	main form * { margin: 0.5rem; }

	main form input, main form button {
	   padding: 1rem;
		font-size: 1.2rem;
	}

	main form input {
		/* padding: 0.5rem; */
		border-radius: 0.5rem;
		border: 3px solid #ff8000;
		width: 50%;
		font-size: 1
	}

	main form button:focus {
	   transform: scale(0.5);
	}

	input:focus {
		outline: none;
	}

	button {
		/* padding: 0.5rem; */
		border-radius: 0.5rem;
		border: 2px solid #ff8000;
		font-size: 1;
		background-color: #ff8000;
		font-weight: bold;
	}

	.cta {
		display: flex;
		justify-content: center;;
		align-items: center;
	}
</style>
