<footer>
  <h1>A project by Hack Club.</h1>
  <p>
    Hack Club is a registered 501(c)3 nonprofit organization that supports a
    network of 20k+ technical high schoolers. We believe you learn best by
    building when you're learning and shipping technical projects with your
    friends, so we've started You Ship, We Ship, a program where you ship a
    technical project and we ship you something in exchange. In the past few
    years, we{" "}
    <a href="https://hackclub.com/onboard"
      >fabricated custom PCBs designed by 265 teenagers</a
    >,{" "}
    <a href="https://github.com/hackclub/the-hacker-zephyr">
      hosted the world's longest hackathon on land
    </a>
    , and{" "}
    <a href="https://hackclub.com/winter"> gave away $75k of hardware </a>
    .
  </p>
  <br />
  <div class="hackclub-resources">
    <div>
      <h3>Hack Club</h3>
      <a href="https://hackclub.com/philosophy">Philosophy</a>
      <a href="https://hackclub.com/team">Our Team &amp; Board</a>
      <a href="https://hackclub.com/jobs">Jobs</a>
      <a href="https://hackclub.com/brand">Branding</a>
      <a href="https://hackclub.com/press">Press Inquiries</a>
      <a href="https://hackclub.com/donate">Donate</a>
    </div>
    <div>
      <h3 class="font-bold italic">Resources</h3>
      <a href="https://hackclub.com/community">Community</a>
      <a href="https://hackclub.com/onboard">OnBoard</a>
      <a href="https://sprig.hackclub.com">Sprig</a>
      <a href="https://blot.hackclub.com">Blot</a>
      <a href="https://hackclub.com/bin">Bin</a>
      <a href="https://jams.hackclub.com">Jams</a>
    </div>
  </div>
  <br />
  <p>© 2024 Hack Club. 501(c)(3) nonprofit (EIN: 81-2908499).</p>
</footer>

<style>
  footer {
    background-color: var(--hc-red);
    padding: 2em;
    /* margin: 0 3em; */
    line-height: 1.5;
    color: white;
    margin-top: 4em;
  }

  footer > h1 {
    font-family: "VC Garamond", sans-serif;
    font-style: italic;
  }

  footer > p {
    width: 75%;
  }

  footer h3 {
    font-weight: bold;
    font-style: italic;
  }
  .hackclub-resources {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .hackclub-resources > div {
    display: flex;
    flex-direction: column;
  }

  a {
    font-style: italic;
    color: white;
    text-decoration: none;
    border-bottom: 2px dotted;
    width: fit-content;
    margin: 2px 0;
  }
</style>
